body {
    margin: auto;
    padding: 20px;
    background: url('../Imagens/background.jpg') repeat-x;
}

fieldset {
    margin-left: 25%;
    margin-right: 20%;
    border: solid 1px black;
}

.Cad, .botao {
    margin-left: 25%;
    margin-right: 20%;
    text-align: center;
    background-color: orange
}

.home{
    float: left;
}