<header>
    <link rel="stylesheet" type="text/css" href="public/css/Cadastro.css">
    <script src="public/js/Validacao.js"></script>
</header>

<body>
    <div class="Cad">
        <div class="home">
            <a href="/Home"><img src="/public/img/Luz.png" height="81px" width="150"></a>
        </div>
        <h1>Cadastro de Alunos</h1>
        <h3>Formulário de Pré-Matricula</h3>

    </div>
    <div class="cadastro">
        <form method="post" action="/Home">
            <fieldset>
                <legend><b>Aluno</b></legend>
                <table width="500px">
                    <tr class="imagem1">
                        <td rowspan="10"><img src="/public/img/estudante.jpg" height="100" width="100"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Nome:</td>
                        <td><input type="text" name="txtnome" size="40" required="required" pattern="[A-z\s]+$"></td>
                    </tr>
                    <tr>
                        <td>Idade:</td>
                        <td><input type="text" name="txtidade" size="40" maxlength="3" required="required" pattern="[0-9]+$"></td>
                    </tr>
                    <tr>
                        <td>Nascimento:</td>
                        <td><input type="date" name="txtnascimento" size="15" required="required" pattern="[0-9]+$"></td>
                    </tr>
                    <tr>
                        <td>Sexo:</td>
                        <td>
                            <input type="radio" name="optsexo" value="Masculino" required="required" pattern="[A-z\s]+$"> Masculino
                            <input type="radio" name="optsexo" value="Feminino" required="required" pattern="[A-z\s]+$"> Feminino
                        </td>
                    </tr>
                    <tr>
                        <td>Nome da Mãe:</td>
                        <td><input type="text" name="txtmae" size="40" required="required" pattern="[A-z\s]+$"></td>
                    </tr>
                    <tr>
                        <td>Nome de Pai:</td>
                        <td><input type="text" name="txtpai" size="40" required="required" pattern="[A-z\s]+$">
                    </tr>
                    <tr>
                        <td>RG:</td>
                        <td><input type="text" name="txtrg" size="15" required="required" pattern="[0-9]+$"></td>
                    </tr>
                    <tr>
                        <td>Telefone:</td>
                        <td><input type="text" name="txttelefone" size="15" required="required" pattern="[0-9]+$" placeholder="xx xxxxx-xxxx"></td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                        <td><input type="email" name="txtemail" size="15" required="required" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                                placeholder="ex. nome@gmail.com"></td>
                    </tr>
                </table>
            </fieldset>
            <br>
            <fieldset>
                <legend><b>Endereço</b></legend>
                <table width="500px">
                    <tr class="imagem2">
                        <td rowspan="7"><img src="/public/img/casa.png" height="100" width="100"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Endereço:</td>
                        <td><input type="text" name="txtendereco" size="40" required="required"></td>
                    </tr>
                    <tr>
                        <td>Número:</td>
                        <td><input type="text" name="txtnumero" size="20" required="required" pattern="[0-9]+$"></td>
                    </tr>
                    <tr>
                        <td>Bairro:</td>
                        <td><input type="text" name="txtbairro" size="20" required="required"></td>
                    </tr>
                    <tr>
                        <td>Cidade:</td>
                        <td><input type="text" name="txtcidade" size="20" required="required" pattern="[A-z\s]+$"></td>
                    </tr>
                    <tr>
                        <td>Cep:</td>
                        <td><input type="text" name="txtcep" size="20" required="required" pattern="[0-9]+$"></td>
                    </tr>
                    <tr>
                        <td>Complemento:</td>
                        <td><input type="text" name="txtcomplemento" size="40" required="required" pattern="[A-z\s]+$"></td>
                    </tr>
                </table>
            </fieldset>
            <br>
            <fieldset>
                <legend><b>Dados de Pré-Matricula</b></legend>
                <table width="500px">
                    <tr class="imagem3">
                        <td rowspan="6"><img src="/public/img/formulario.png" height="100" width="100"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Classe:</td>
                        <td>
                            <input type="radio" name="classe" value="Creche" required="required"> Creche<br>
                            <input type="radio" name="classe" value="PreEscolar" required="required"> Pre-Escolar<br>
                            <input type="radio" name="classe" value="EnsinoFundamental" required="required"> Ensino Fundamental<br>
                            <br>
                        </td>
                    </tr>
                    <tr>
                        <td>Turno:</td>
                        <td>
                            <input type="radio" name="optturno" value="Manha" required="required"> Manhã<br>
                            <input type="radio" name="optturno" value="Tarde" required="required"> Tarde<br>
                            <input type="radio" name="optturno" value="Noite" required="required"> Noite<br>
                            <br>
                        </td>

                    </tr>
                    <tr>
                        <td>Atividade Incluida:</td>
                        <td>
                            <input type="radio" name="atividade" value="Musica" required="required"> Musica<br>
                            <input type="radio" name="atividade" value="Futebol" required="required"> Futebol<br>
                            <input type="radio" name="atividade" value="Informatica" required="required"> Informática<br>
                            <br>
                        </td>
                    </tr>
                </table>
            </fieldset>
            <br>
            <div class="botao">
                <a href="/Home"><input type="submit" value="Salvar Aluno"/></a>
                <input type="reset" value="Limpar Dados" />
            </div>
        </form>
    </div>
</body>