body {
    margin: auto;
    padding: 20px;
    background: url('/public/img/background.jpg') repeat;
}

fieldset {

    margin-left: 25%;
    margin-right: 20%;
    border: solid 1px black;

}

.home{
    float: left;;
}

.Cad{
    margin-left: 25%;
    margin-right: 20%;
    text-align: center;
    background-color: orange;
    line-height: 25px;
}

.botao{
    height: 50px;
    line-height: 45px;
    margin-left: 25%;
    margin-right: 20%;
    text-align: center;
    background-color: orange;
}

