body {
    margin: 0 auto;
    background: url('/public/img/background.jpg') repeat;
    overflow: auto;
}

p{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}


.conteiner{
    margin: 5% 10% 5% 10%;
    height: 200px;

  }

.logo{
    width: 285px;
    height: 200px;
    float: left;
}

.menu{
    width: 30%;
    margin: 0 auto;
}

.menu ul{
    height: 100px;
    width: 100%;
    float: left;
    background-color: orange;
}

.menu li{
    text-align: center;
    padding: none;
    position: relative;
	float: left;
    list-style: none;
    text-decoration: none;
    text-align: center;

}

.menu ul li a{
    color: black;
    padding: none;
    position: relative;
	float: left;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    line-height: 100px;
    padding-left: 40px;
}

.menu ul li a:hover {

    color: black;
    padding: none;
    position: relative;
	float: left;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    line-height: 100px;
    padding-left: 40px;
    text-shadow: 1px 1px 2px white;
    
}

.logo2{
    width: 285px;
    height: 200px;
    float: right;
}

.conteiner2{
    margin: 0% 10% 90% 10%;
}

.alunos{
    height: 20%;
    width: 48%;
    float: left;
    padding-right: 10px; 
    padding-bottom: 10px;
}

.dados1, .dados2 {
    height: 300px;
    width: 300px;
    float: left;
    text-align: center;
}

.dados3{
    height: 200px;
    width: 300px;
    float: left;
    text-align: center;
}

.dados4{
    height: 200px;
    width: 300px;
    float: left;
    text-align: center;
    line-height: 100px;
}